In [1]:
from utils import *

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

## Spark

In [2]:
df = carregar_rodada(4)
df.show(1, vertical=True)

-RECORD 0---------------------------
 atleta_id               | 69012
 rodada_id               | 4
 posicao_id              | gol
 status_id               | 6
 pontos                  | 0
 preco                   | 11
 preco_variacao          | 0
 pontos_media            | 0
 jogos                   | 0
 minimo_para_valorizar   | NA
 jogador                 | Santos
 clube                   | Flamengo
 defesas                 | NA
 jogos_sem_sofrer_gol    | NA
 gols_sofridos           | NA
 cartoes_amarelos        | NA
 finalizacoes_defendidas | NA
 finalizacoes_fora       | NA
 faltas_sofridas         | NA
 gols                    | NA
 impedimentos            | NA
 passes_incompletos      | NA
 desarmes                | NA
 faltas_cometidas        | NA
 assistencias            | NA
 cartoes_vermelhos       | NA
 finalizacoes_trave      | NA
 penaltis_perdidos       | NA
 gols_contra             | NA
 penaltis_sofridos       | NA
 penaltis_cometidos      | NA
only showing top 1 row

In [3]:
df.count()

752

## Couchbase

In [4]:
upload_couchbase(df)

In [5]:
ds = query_couchbase('SELECT meta().id, jogador, pontos FROM cartola.cartola.atletas')
ds.head()

        jogador pontos atleta_id rodada_id
0       Rickson   -0.8    100002         2
1       Rickson   -0.1    100002         3
2       Rickson      0    100002         4
3  Jhojan Julio    1.1    100074         2
4  Jhojan Julio    1.8    100074         3

In [6]:
ds2 = query_couchbase('SELECT jogador, pontos FROM cartola.cartola.atletas')
ds2.head()

        jogador pontos
0       Rickson   -0.8
1       Rickson   -0.1
2       Rickson      0
3  Jhojan Julio    1.1
4  Jhojan Julio    1.8

In [7]:
ds3 = query_couchbase('SELECT count(*) AS qtd FROM cartola.cartola.atletas')
ds3.head()

    qtd
0  2244